<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center mb-4">Lista de Livros</h2>
        <button class="btn btn-success" [routerLink]="['/livro']">Novo Livro</button>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Codl</th>
              <th>Título</th>
              <th>Editora</th>
              <th>Edição</th>
              <th>Ano</th>
              <th>Preço</th>
              <th>Forma</th>
              <th>Autor</th>
              <th>Assunto</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let livro of livros">
              <td>{{ livro.codL }}</td>
              <td>{{ livro.titulo }}</td>
              <td>{{ livro.editora }}</td>
              <td>{{ livro.edicao }}</td>
              <td>{{ livro.anoPublicacao }}</td>
              <td>{{ livro.preco | currency: 'BRL' }}</td>
              <td>{{ livro.formaCompra }}</td>
              <td>{{ livro.autor?.nome }}</td>
              <td>{{ livro.assunto?.descricao }}</td>
              <td>
                <button class="btn btn-primary btn-sm" [routerLink]="['/livro', livro.codL]">Editar</button>
                <button class="btn btn-danger btn-sm" (click)="deleteLivro(livro.codL)">Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
